beautifulsoup4
sentence-transformers
transformers
unstructured
streamlit
langchain
langchain-community
langchain_groq
pydantic
langchain_huggingface
faiss-CPU
wikipedia
langgraph
IPython
pypdf
PyPDF2
pandas
resource
langchain_openai
langchain-core
tf_keras